__pycache__/
*.pyc
*.pyo
*.swp
*.log
*.out
*.traj
*.pdf
*.png
*.zip

Out/
test/

NextHAM-fix1/__pycache__/
NextHAM-fix1/Out/
NextHAM-fix1/test/
NextHAM-fix1/test_res/
NextHAM-fix1/res/
NextHAM-fix1/res_temp/
NextHAM-fix1/hse_model/
NextHAM-fix1/train_res/
NextHAM-fix1/train_finetune_res/
NextHAM-fix1/train_hse_finetune_res/
NextHAM-fix1/train_pbe_100_res/debug.log

equiformer_ef/__pycache__/
equiformer_ef/abacus_test/
equiformer_ef/default_md_energy_check/
equiformer_ef/models/
equiformer_ef/pred_log/
equiformer_ef/pyg_dataset/
equiformer_ef/pyg_dataset_singlepoint/
equiformer_ef/pyg_test_50samples/
equiformer_ef/test_output/
